body {
    background-color: black;
    color: skyblue;
    font-size: 1.1em;
    text-align: center;
}
h1 {
    color: skyblue;
    text-align: center;
}
#intro {
    font-size: 1.3em;
}
.colorful {
    color: orange;
}

label {
    align: center;
}

input {
    align: center;
    margin-bottom: 15px;
    top-margin: 5px;
}

#output {
    color: white;
}
