body {
    background-color: black;
    color: white;
    font-size: 1.5em;
    text-align: center;
}
h1 {
    color: White;
    text-align: center;
    font-size: 2.0em;
}
#intro {
    font-size: 1.3em;
}
.colorful {
    color: orange;
}

label {
    align: center;
}

input {
    align: center;
    margin-bottom: 15px;
    top-margin: 5px;
}

.submitButton {
    background-color: white;
}

#output {
    color: white;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.topnav {
  background-color: white;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}
